{% extends 'layouts/main.html.twig' %}

{% block breadcrumbs %}
    <div class="col-sm-6">
        <h1 class="m-0 text-dark">Genres</h1>
    </div>
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item active"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ path('manage') }}">Manage</a></li>
            <li class="breadcrumb-item active"><a href="#">Genres</a></li>
        </ol>
    </div>
{% endblock %}

{% block title %}Manage | Genres{% endblock %}

{% block body %}
    {% include 'layouts/_flashes.html.twig' %}
    <table class="table table-bordered table-condensed">
        <thead>
            <tr>
                <th>Name</th>
                <th>Slug</th>
                <th>Songs count</th>
            </tr>
        </thead>
        <tbody>
            {% for genre in genres %}
                <tr>
                    <td>{{ genre.name }}</td>
                    <td>{{ genre.slug }}</td>
                    <td>{{ genre.songsCount }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}