{% extends 'layouts/mail.html.twig' %}

{% block body %}

    <p>Hello, {{ login }}!</p>

    <p>Reset password link:</p>

    {% set url = url('auth.reset-password.confirm', {'token': token}) %}

    <p>
        <a href="{{ url }}">
            {{ url }}
        </a>
    </p>

{% endblock %}
