{% extends 'layouts/mail.html.twig' %}

{% block body %}

    <p>Hello, {{ login }}!</p>

    <p>Sign Up confirm link:</p>

    {% set url = url('auth.signup.confirm', {'confirm_token_token': token}) %}

    <p>
        <a href="{{ url }}">
            {{ url }}
        </a>
    </p>

{% endblock %}
