@import "~bootstrap/scss/bootstrap";
@import "~admin-lte/dist/css/adminlte.min.css";
@import "~admin-lte/dist/css/alt/adminlte.components.min.css";
@import "~admin-lte/dist/css/alt/adminlte.plugins.min.css";
@import "./music/albums/main";
@import "./music/albums/short-view";
@import "./profile/main";

.btn-upload {
  margin-top: 10px;
}

main {
& > .container {
      padding: 80px 15px 0;
  }
}

a.btn {
  margin-bottom: 10px;
}

.footer {
  background-color: #f5f5f5;

  & > .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.vertical-margin {
  margin-top: 5px;
  margin-bottom: 10px;
}