{% extends 'layouts/main.html.twig' %}

{% block body %}
    <div class="card">
        <div class="card-body">
            {% include 'layouts/partials' %}

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary">Upload</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}