<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Music Storage | {% block title %}Auth{% endblock %}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block css %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>

<body class="hold-transition login-page">
    {% block body %}{% endblock %}

    {% block js %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>
</html>
